<section class='col-md-4'>

  <form name='loginForm' ng-submit='vm.form.login(loginForm)' >
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" ng-model='vm.form.name' placeholder="Your name here">
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control" ng-model='vm.form.phone' placeholder="Your phone number here">
    </div>
    <button type="submit" class="btn btn-primary">Log In!</button>
  </form>


</section>
