<section class='col-md-4'>

  <h4 class='text-center'><a href="twilio.com/console">Please sign up with Twilio and get your Account SID</a></h4 >
  <form name='signupForm' ng-submit='vm.signup(signupForm)'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" ng-model='vm.form.name' name='name' placeholder="Your name here">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" ng-model='vm.form.phone' name='phone' placeholder="10 digit phone number here">
    </div>
    <div class="form-group">
      <label for="phone">Twilio ID</label>
      <input type="text" class="form-control" ng-model='vm.form.twilio_id' name='twilio_id' placeholder="Enter your Twilio ID here">
    </div>
    <div class="form-group">
      <label for="phone">Twilio Auth Token</label>
      <input type="text" class="form-control" ng-model='vm.form.token' name='token' placeholder="Enter the Auth Token here">
    </div>
    <button type="submit" class="btn btn-primary">Sign up and Continue -></button>
  </form>


</section>
